@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Scheherazade:wght@400;700&display=swap');
@font-face {
    font-family: 'lavaFont';
    src:url('../../../font/Freeland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Now you can use the fonts in your CSS */
.product-label[lang="ar"] {
    font-family: 'Amiri', serif;
}

.product-label[lang="ku"] {
    font-family: 'Scheherazade', serif;
}

.text-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.header-menu span{
    color: #000;
}
.header-menu span:hover{
    color: #fff;
}
.product.product-list {
    box-shadow: none;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #003465;
    margin-bottom: 1rem;
}

.megamenu-container ul {
    columns: 2; /* For modern browsers */
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 4px; /* Adjust the gap between the columns */
}

.megamenu-container ul li {
    break-inside: avoid; /* Prevents items from breaking inside columns */
    margin-bottom: 10px; /* Adjust spacing between items */
}

[lang="ar"] .product-cat,
[lang="ku"] .product-cat {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .product-title,
[lang="ku"] .product-title {
    text-align: right;
    direction: rtl;
}

[lang="ar"] .product-price,
[lang="ku"] .product-price {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .heading-left .title,
[lang="ku"] .heading-left .title{
    text-align: right;
    direction: rtl;
}
[lang="ar"] .nav-dir,
[lang="ku"] .nav-dir{
    text-align: right;
    direction: rtl;
}
[lang="ar"] .menu .megamenu,
[lang="ku"] .menu .megamenu{
    left: 45.5rem;
}
[lang="ar"] .widget-collapsible .widget-title a:after,
[lang="ku"] .widget-collapsible .widget-title a:after {
    right: unset!important;
    left: 0.17rem!important;
}
[lang="ar"] .product-details .product-content p,
[lang="ku"] .product-details .product-content p {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .widget-collapsible .widget-title a,
[lang="ku"] .widget-collapsible .widget-title a,
[lang="ar"] .filter-items-count .filter-item,
[lang="ku"] .filter-items-count .filter-item{
    padding-left: 0;
    padding-right: 0;

}
[lang="ar"] .menu>li>a,
[lang="ku"] .menu>li>a {
    font-size: 16px;
    font-weight: 100;
}

.price.flip-symbol {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
}

.flip-symbol [lang="ar"],
.flip-symbol [lang="ku"] {
    flex-direction: row-reverse;
}
.cart-direction [lang="ar"],
.cart-direction [lang="ku"] {
    direction: rtl;
}

table .product-col .product [lang="ar"],
table .product-col .product [lang="ku"] {
    padding-right: unset!important;
    padding-left: 2rem!important;
}

table .product-col .product-media [lang="ar"],
table .product-col .product-media [lang="ku"] {
    margin-right: unset!important;
    margin-left: 2.8rem!important;
}

.heart-icon {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    background-color: transparent;
    z-index: 10;
}
.heart-icon .btn {
    min-width: 15px;
    font-size: 20px;
    padding: 0px;
}
.product-7 {
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    border-radius: 8px;
}
.product-list {
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    border-radius: 8px;
}

.product-label {
    display: inline-block; /* Ensures the tags don't overlap */
    padding: 5px 10px;
    margin-bottom: 5px; /* Adds some spacing between tags vertically */
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ef837b;
}

.product-label[lang="ar"] {
    font-family: 'Amiri', serif; /* Arabic font */
    text-align: right;
    direction: rtl;
}

.product-label[lang="ku"] {
    font-family: 'Scheherazade', serif; /* Kurdish font */
    text-align: right;
    direction: rtl;
}

.product.product-list {
    padding-bottom: 0;
}

.product {
    overflow:visible;
}
.label-wrapper{
    position: absolute; top: -16px; left: 0; z-index: 10;
}
.label-wrapper span {
    border-radius: 5px 18px;
}

.tab-pane {
    transition: opacity 0.3s ease;
}

.address .form-control {
    border-color: #003465;
}

.product-image {
    background-color: white;
}

.cart-dropdown .dropdown-menu .re{
    width: 150px;
}
.dropdown-menu {
    left: unset!important;
    right: 0!important;
    
}

.social-icons {
    padding: 10px;
}
[lang="ar"] .custom-control-label::before, 
[lang="ku"] .custom-control-label::before {
    left: unset;
    right: 0rem;
}
[lang="ar"] .custom-control-label::after, 
[lang="ku"] .custom-control-label::after {
    left: unset;
    right: 0rem;
}

[lang="ar"] .sidebar-shop .custom-control-label, 
[lang="ku"] .sidebar-shop .custom-control-label {
    padding-right: 2.5rem;
}
[lang="ar"] .detail-icon .heart-icon,
[lang="ku"] .detail-icon .heart-icon {
    right: unset;
    left: 1.5rem;
}

[lang="ar"] .product-desc-content,
[lang="ku"] .product-desc-content {
    text-align: right;
    direction: rtl;
}

.image-preview-slider{
    border: 1px solid #003465;
    border-radius: 1px;
}
[lang="ar"] .custom-table-info table,
[lang="ku"] .custom-table-info table {
    direction: ltr;
}

.custom-table-info .product-desc-content ul li:before {
    display: contents;
}
.custom-table-info .table td{
    padding: 0 10px 0 10px;
}

.custom-table-info .product-details-tab .tab-content .tab-pane{
    padding: 0;
}

.custom-table-info .nav-pills+.tab-content .tab-pane{
    padding: 0;
}


.btn-ghost-ptimary:hover{color:#865ce2}
.btn-ghost-ptimary{color:var(--vz-primary-color)}
.btn-ghost-ptimary{--vz-btn-color:var(--vz-primary);}
.btn-ghost-success:hover{color:#865ce2}
.btn-ghost-success{color:var(--vz-success-color)}
.btn-ghost-success{--vz-btn-color:var(--vz-success);}

.header-6 .header-search-extended .form-control{
    height: 22px;
}
.header-6 .header-search-extended .btn {
    margin-bottom: 4px;
}
.header-search .header-search-wrapper {
    align-items: center;
}

.header-6 .header-search-extended .btn {
    height: 30px;
}
.text-gold{
    color: #d4af37;
}

.table.table-cart .total-col {
    width:120px;
}

[lang="ar"] .mmenu-btn,
[lang="ku"] .mmenu-btn {
    right: unset;
    left: 1rem;
}

[lang="ar"] .mobile-menu li a,
[lang="ku"] .mobile-menu li a {
    padding: 1rem 1.5rem 1rem 2rem;
}

[lang="ar"] .mobile-menu-container ul,
[lang="ku"] .mobile-menu-container ul {
    text-align: right;
    direction: rtl;
    list-style-position: inside; /* Optional: Adjusts the position of list markers */
}

[lang="ar"] .mmenu-active .mobile-menu-container,
[lang="ku"] .mmenu-active .mobile-menu-container {
    visibility: visible;
    transform: translateX(-280px); /* Move menu into view from the right */
}

[lang="ar"] .mobile-menu-container,
[lang="ku"] .mobile-menu-container {
    position: fixed;
    left: unset;
    right: -280px; /* Initially hide the menu to the right */
}

[lang="ar"] .mmenu-active .page-wrapper,
[lang="ku"] .mmenu-active .page-wrapper {
    transform: translateX(-200px);
}
/* <style> */

/* </style> */



    .news-ticker-wrapper {
        background-color: #003465;
        padding: 10px 0;
        overflow: hidden;
    }

    .news-ticker-wrapper .owl-carousel .item {
        display: inline-block;
        /* padding: 0 20px; */
        white-space: nowrap;
    }

    .news-ticker-wrapper .owl-carousel .item a {
        text-decoration: none;
        color: #fff !important;
    }

    .news-ticker-wrapper .owl-carousel .item:hover {
        color: #fff;
    }

    .news-ticker-wrapper {
    background-color: #003465;
    padding: 10px 0;
    overflow: hidden;
}

.news-ticker-wrapper #tx .telex-item {
    display: inline-block;
    white-space: nowrap;
}

.news-ticker-wrapper #tx .telex-item a {
    text-decoration: none;
    color: #fff !important;
}

.news-ticker-wrapper #tx .telex-item:hover {
    color: #fff;
}

.hover-phone:hover, .hover-phone a:hover{
    color: #fff!important;
    background-color: #004f99;
}

.lang .dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #004f99;
}

.footer {
    color: white;
    background-color: #003465;
}
.footer .widget-title {
    color: white;
}
.footer a:hover{
    color: white;
}
.footer p{
    color: white;
}

@media (max-width: 576px) {
    .page-link.page-link-prev, .page-link.page-link-next {
        min-width: 0;
    }
    .page-link-prev .nav-txt, .page-link-next .nav-txt {
        display: none;
        padding: 0;
    }
    .page-link.page-link-prev, .page-link.page-link-next {
        padding: 0;
    }
}

.widget-clean a {
    font-size: 16px;
    margin-left: 4px;
    margin-right: 4px;
}


/********* INTENSITY LEVEL **********/
.progress-container {
    position: relative;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.progress-circle {
    width: 100%;
    height: 100%;
    transform: rotate(180deg); /* Start progress from the top */
}

.segment {
    fill: none;
    stroke-width: 6;
    transition: stroke 0.3s ease-in-out;
}

.segment-bg {
    stroke: #e6e6e6;
}

.segment-filled {
    stroke: #003465;
}

.progress-text {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    color: #003465;
}

.controls {
    margin-top: 20px;
}

.controls label {
    margin-right: 10px;
    font-size: 14px;
}

.controls button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/********* INTENSITY LEVEL **********/
.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
}

.icon-svg {
    width: 80px; /* Adjust as needed */
    height: 80px;
    fill: #003465; /* Adjust the color of the SVG */
}

.icon-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Adjust text size */
    color: #003465; /* Adjust text color */
}

.icon-text-12 {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Adjust text size */
    color: #003465; /* Adjust text color */
}

.icon-text-2 {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Adjust text size */
    color: #003465; /* Adjust text color */
}


/* RTL styles (Arabic, Kurdish, etc.) */
[lang="ar"] .owl-carousel .owl-nav .owl-prev,
[lang="ku"] .owl-carousel .owl-nav .owl-prev {
    left: auto;
    right: 0; /* Move prev button to the right */
    transform: rotate(180deg); /* Flip icon */
}
[lang="ar"] .owl-carousel .owl-nav .owl-next,
[lang="ku"] .owl-carousel .owl-nav .owl-next {
    right: auto;
    left: 0; /* Move next button to the left */
    transform: rotate(180deg); /* Flip icon */
}