.text-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product.product-list {
    box-shadow: none;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #003465;
    margin-bottom: 1rem;
}

.megamenu-container ul {
    columns: 2; /* For modern browsers */
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 4px; /* Adjust the gap between the columns */
}

.megamenu-container ul li {
    break-inside: avoid; /* Prevents items from breaking inside columns */
    margin-bottom: 10px; /* Adjust spacing between items */
}

[lang="ar"] .product-cat,
[lang="ku"] .product-cat {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .product-title,
[lang="ku"] .product-title {
    text-align: right;
    direction: rtl;
}

[lang="ar"] .product-price,
[lang="ku"] .product-price {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .heading-left .title,
[lang="ku"] .heading-left .title{
    text-align: right;
    direction: rtl;
}
.menu>li>a {
    font-size: 20px;
    font-weight: 100;
}


.heart-icon {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: transparent;
    z-index: 10;
}