@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Scheherazade:wght@400;700&display=swap');
@font-face {
    font-family: 'lavaFont';
    src:url('../../../font/Freeland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Now you can use the fonts in your CSS */
.product-label[lang="ar"] {
    font-family: 'Amiri', serif;
}

.product-label[lang="ku"] {
    font-family: 'Scheherazade', serif;
}


.text-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product.product-list {
    box-shadow: none;
    padding-bottom: 1rem;
    border-bottom: .1rem solid #003465;
    margin-bottom: 1rem;
}

.megamenu-container ul {
    columns: 2; /* For modern browsers */
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 4px; /* Adjust the gap between the columns */
}

.megamenu-container ul li {
    break-inside: avoid; /* Prevents items from breaking inside columns */
    margin-bottom: 10px; /* Adjust spacing between items */
}

[lang="ar"] .product-cat,
[lang="ku"] .product-cat {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .product-title,
[lang="ku"] .product-title {
    text-align: right;
    direction: rtl;
}

[lang="ar"] .product-price,
[lang="ku"] .product-price {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .heading-left .title,
[lang="ku"] .heading-left .title{
    text-align: right;
    direction: rtl;
}
[lang="ar"] .nav-dir,
[lang="ku"] .nav-dir{
    text-align: right;
    direction: rtl;
}
[lang="ar"] .menu .megamenu,
[lang="ku"] .menu .megamenu{
    left: 45.5rem;
}
[lang="ar"] .widget-collapsible .widget-title a:after,
[lang="ku"] .widget-collapsible .widget-title a:after {
    right: unset!important;
    left: 0.17rem!important;
}
[lang="ar"] .product-details .product-content p,
[lang="ku"] .product-details .product-content p {
    text-align: right;
    direction: rtl;
}
[lang="ar"] .widget-collapsible .widget-title a,
[lang="ku"] .widget-collapsible .widget-title a,
[lang="ar"] .filter-items-count .filter-item,
[lang="ku"] .filter-items-count .filter-item{
    padding-left: 0;
    padding-right: 0;
}
[lang="ku"] 
.menu>li>a {
    font-size: 20px;
    font-weight: 100;
}

.heart-icon {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    background-color: transparent;
    z-index: 10;
}
.heart-icon .btn {
    min-width: 15px;
    font-size: 20px;
    padding: 0px;
}
.product-7 {
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    border-radius: 8px;
}
.product-list {
    -webkit-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    -moz-box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    box-shadow: 0px 6px 24px -5px rgba(0,0,0,0.20);
    border-radius: 8px;
}

.product-label {
    display: inline-block; /* Ensures the tags don't overlap */
    padding: 5px 10px;
    margin-bottom: 5px; /* Adds some spacing between tags vertically */
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: #ef837b;
}

.product-label[lang="ar"] {
    font-family: 'Amiri', serif; /* Arabic font */
    text-align: right;
    direction: rtl;
}

.product-label[lang="ku"] {
    font-family: 'Scheherazade', serif; /* Kurdish font */
    text-align: right;
    direction: rtl;
}

.product.product-list {
    padding-bottom: 0;
}

.product {
    overflow:visible;
}
.label-wrapper{
    position: absolute; top: -16px; left: 0; z-index: 10;
}
.label-wrapper span {
    border-radius: 5px 18px;
}

.tab-pane {
    transition: opacity 0.3s ease;
}

.address .form-control {
    border-color: #003465;
}

.product-image {
    background-color: white;
}

.cart-dropdown .dropdown-menu .re{
    width: 150px;
}
.dropdown-menu {
    left: unset!important;
    right: 0!important;
    
}

.social-icons {
    padding: 10px;
}


[lang="ar"] .detail-icon .heart-icon,
[lang="ku"] .detail-icon .heart-icon {
    right: unset;
    left: 1.5rem;
}

[lang="ar"] .product-desc-content,
[lang="ku"] .product-desc-content {
    text-align: right;
    direction: rtl;
}

.image-preview-slider{
    border: 1px dashed #003465;
    border-radius: 24px;
}
[lang="ar"] .custom-table-info table,
[lang="ku"] .custom-table-info table {
    direction: ltr;
}

.custom-table-info .product-desc-content ul li:before {
    display: contents;
}
.custom-table-info .table td{
    padding: 0 10px 0 10px;
}

.custom-table-info .product-details-tab .tab-content .tab-pane{
    padding: 0;
}

.custom-table-info .nav-pills+.tab-content .tab-pane{
    padding: 0;
}


.btn-ghost-ptimary:hover{color:#865ce2}
.btn-ghost-ptimary{color:var(--vz-primary-color)}
.btn-ghost-ptimary{--vz-btn-color:var(--vz-primary);}
.btn-ghost-success:hover{color:#865ce2}
.btn-ghost-success{color:var(--vz-success-color)}
.btn-ghost-success{--vz-btn-color:var(--vz-success);}
